@keyframes slide-down {
    0% {
     max-height: 0px;
     opacity: 0;
    }
    100% {
     max-height: 480px;
     opacity: 1;
    }
   }

/* Reset Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #505050;
    background-color: #e1f0f8;
}

* {
    box-sizing: border-box;
}

/* Header Styles */
header {
    width: 100%;
    /*position: fixed;
    top: 0;*/
    min-height: 40px;
    background-color: #339cda;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.headeraH1 {
    margin: 0;
}

.banner {
    width: 100%;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
}


/* Navigation Styles */
nav {
    width: 100%;
    /*position: fixed;
    top: 80px;*/
}

nav ul {
    background-color: #333;
    color: #fff;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 20px;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;  /* Smooth transition for hover effect */
}

nav a:hover {
    background-color: #339cda;  /* Darker shade for hover */
    color: #fff;
}

nav a:active {
    color: #339cda;
}

.nav_link-active {
    color: #339cda;
}

/* Banner Styles */
.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.centered-banner {
    padding: 30px;
    max-width: 80%;
    height: auto;
}

/* Main Content Styles */
main {
    max-width: 800px;
    margin: 0 auto;
}

.services {
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.services_container {
    position: relative;
}

main h3 {
    margin-top: 20px;
}

/* Service Columns */
.services-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.service-column {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service-column img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.service-column h3 {
    margin-bottom: 5px;
}

.about {
    margin-top: 30px;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.container_header {
    text-transform: uppercase;
    font-size: 30px;
}

.contact_additional {
    font-size: 20px;
}

.contact_active-link {
    text-decoration: none;
    color: #339cda;
    cursor: pointer;
}

.contact_active-link:hover {
    color: #265f80;
}

.tasks {
    margin-top: 160px;
}

/* Gallery page */
.gallery {
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);    
}
.slider_container {
    position: relative;
}

/* Hide the images by default */
.slider_element {
    width: 100%;
    height: 400px;
}

.slider_image {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.slider_animation {
    animation-duration: 2s;
    animation-name: slide-down;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    text-decoration: none;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transition: all .3s ease-in-out;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/*form*/
.form {
    width: 300px;
    height: auto;
    /* margin: 20vh auto 0 auto; This centers the form vertically and horizontally */
    padding: 20px;
    background-color: whitesmoke; /* Light gray background for the form */
    border-radius: 4px; /* Rounded corners for the form */
    font-size: 12px;
}

.form_title {
    color: #0f2027; /* Dark text color for the heading */
    text-align: center; /* Center-align the heading */
}

.form_button {
    padding: 10px;
    margin-top: 10px; /* Space above the button */
    width: 100%; /* Make the button expand the full width of the form */
    color: white; /* White text color for the button */
    background-color: rgb(41, 57, 194); /* Blue background color for the button*/
    border: none; /* Remove the default border */
    border-radius: 4px; /* Rounded corners for the button */
    cursor: pointer;
}

.form_button:hover {
    opacity: 0.8;
    transition: all .3s ease-in-out;
}

.form_button:disabled {
    background-color: rgb(133 141 209);
}

.form_button:disabled:hover {
    opacity: 1;
}

/* Container for input fields: using flexbox for layout, column direction */
.input-control {
    display: flex;
    flex-direction: column; /* Stack the children (label, input, error message) vertically */
}

/* Style for input fields inside the container: border style, rounded corners,
block-level display, font size, padding, full width */
.input-control input {
    border: 2px solid #f0f0f0; /* Light gray border for the inputs */
    border-radius: 4px; /* Rounded corners for the inputs */
    display: block; /* Display input field as a block */
    font-size: 12px; /* Text size within the input field */
    padding: 10px; /* Space inside the input field */
    width: 100%; /* Input field takes up 100% of the form's width */
}
    /* Remove focus outline from input fields */
.input-control input:focus {
    outline: 0; /* Remove outline when input is focused */
}

/* Style for input fields with class "success": green border */
.input-control.success input {
    border-color: #09c372; /* Green border to indicate successful input */
}

/* Style for input fields with class "error": red border*/
.input-control.error input {
    border-color: #ff3860; /*Red border to indicate an error in input */
}

/* Style for the error message: text color, font size, and height */
.input-control .error {
    color: #ff3860; /* Red text color for error messages */
    font-size: 9px; /* Smaller font size for error messages */
    height: 13px; /* Explicit height to ensure consistent spacing */
}





/* Call to Action Styles */
.cta-container {
    text-align: center;
    padding: 40px;
    background-color: #333;
    color: #fff;
    margin-top: 30px;
    border: 5px solid #339cda;
    border-radius: 2px;
}

.cta-button {
    display: inline-block;
    padding: 20px 50px;
    background-color: #339cda;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #0056b3;
    color: grey;
}

.cta-container h2 {
    font-size: 34px;
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.cta-container p {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}

/*popup*/
.popup-open {
    padding: 20px 50px;
    background-color: #339cda;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.popup-open:hover {
    background-color: #0056b3;
    color: grey;
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 10;
}

.popup-close {
    cursor: pointer; 
    position: absolute; 
    top: -13px;
    right: 0;
    z-index: 11;
    transition: background-color 0.3s;
}

.popup-close::before,
.popup-close::after {
	content: ""; 
    position: absolute; 
    width: 24px; 
    height: 4px; 
    background: #fff;
}

.popup-close::before {
    transform: rotate(45deg);
}

.popup-close::after{
    transform: rotate(-45deg);
}

.popup-close:hover::before,
.popup-close:hover::after {
    background-color: grey;
}


/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer ul {
    margin: 0;
}

footer li {
    display: inline-block;
    margin-right: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;  /* Smooth transition for hover effect */
}

footer a:hover {
    color: #339cda;  /* Lighter color on hover */
}

footer p {
    margin: 10px 0 0;
}

